@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}

.newspage {
  width: 860px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .newspage {
    width: 100%;
  }
}

.news-main{
  display: flex;
  align-items: center;
  height: auto;
  background-color: #f5f6fa;
  padding: 8px 0;
  border-bottom: 1px solid #b2bec3;
}

.news-main a{
  text-decoration: none; 
  color: #2f3542;
  padding: 8px;
}

.news-main a:hover {
  text-decoration: none;
  color: #747d8c; 
}

.news-main a h3{
  font-family: 'Pangolin', cursive;
}

.news-contents{
  margin-top: 10px;
  color: #747d8c;
  font-size: 12px;
}

.header-title{
  font-size: 32px;
  padding: 12px;
  background-color: #2f3542;
  color: #FFFFFF;
  font-family: 'Pangolin', cursive;
  text-align: center;
}

.pagination{
  padding: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}


